*{
	box-sizing: border-box;
}

a{
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.clearfix{
	clear:both;
}

.container{
	margin:0 auto;
	width: 1200px;
}

.header{}
.header .menu{ line-height: 50px; float: left; }
.header .menu li{display: inline-block; padding: 0 10px;}
.header .menu li a{color:#333; font-weight: 600;}
.header .user-menu { line-height: 50px; }
.header .user-menu li{ display: inline-block; padding: 0 10px; float: right; }
.header .user-menu li a{ color:#555; }


.footer{ background-color: #151515; padding: 90px 0; }
.footer p{
	color:#777;
	padding: 10px 0;
}
.footer .social-links li{ display: inline-block; padding: 0 10px; }
.footer .social-links li:first-child{padding-left: 0;}
.footer .social-links li a{ color:#fff; font-size:24px; }
.footer .social-links li a:hover{ opacity: .5; }
.footer .social-links li.facebook a { color:#3b5999; }
.footer .social-links li.twitter a { color:#55acee; }
.footer .social-links li.google a { color:#dd4b39; }
.footer h4{
	font-size:25px;
	font-weight: 400;
	color:#666;
}
.footer ul li a{
	color:#777;
}
.footer ul li a:hover{
	color:#ddd;
	text-decoration: none;
}
.footer .subscription{

}
.footer .subscription input{
	width:80%;
	float: left;
	border:0;
	background-color: rgba(255,255,255,.1);
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
}

.footer .subscription button {
	border:1px solid rgba(255,255,255,.1);
	background: transparent;
	width: 17%;
	margin-left: 3%;
	height: 40px;
	color:#fff;
}