﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
</head>
<body>

    <div class="container">
        <div class="header">
            <div class="logo col-md-2">
                <a href="#"><img src="~/Content/assets/img/logo.jpg" width="50" alt="" /></a>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="menu col-md-6">
                <ul class="list-unstyled">
                    <li><a href="#">Erkek</a></li>
                    <li><a href="#">Kadın</a></li>
                    <li><a href="#">Koleksiyonlar</a></li>
                    <li><a href="#">Aksesuar</a></li>
                </ul>
            </div>
            <div class="user-menu col-md-3">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-search"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div><!-- // container -->

    <div class="container">
        @RenderBody()
    </div>



    <div class="footer">
        <div class="container">
            <div class="col-md-3">
                <img src="~/Content/assets/img/logo.jpg" width="50" alt="" />
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil rerum qui soluta hic tenetur voluptatem corporis mollitia unde autem, officia!</p>
                <ul class="social-links list-unstyled">
                    <li class="facebook"><a href="#face"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="google"><a href="#googleplus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Kategoriler</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Erkek</a></li>
                    <li><a href="#">Kadın</a></li>
                    <li><a href="#">Koleksiyonlar</a></li>
                    <li><a href="#">En Çok Satanlar</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Alışveriş</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Hizmet Koşulları</a></li>
                    <li><a href="#">Kargo Takini</a></li>
                    <li><a href="#">Sipariş Durumu</a></li>
                    <li><a href="#">Ödeme Yöntemleri</a></li>
                    <li><a href="#">Banka Bilgileri</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>E-Bülten</h4>
                <form action="#" class="subscription">
                    <input type="text" placeholder="e-psota adresiniz" />
                    <button><i class="fa fa-arrow-circle-right"></i></button>
                </form>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, vitae!</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap.min.js"></script>
</body>
</html>